<!DOCTYPE html>
<html>
<head>
    <title>Form Login</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <div class="login-container">
        <h2>Login</h2>
        <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Login">
        </form>
        <div id="error-message" class="error-message"></div>
    </div>

    <div id="loginStatus"></div>
</body>
</html>
